*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

nav{
    text-align: center;
    background-color: #79DCF1;
    font-family: "MS Sans Serif", Geneva, sans-serif;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
}

nav li{
    padding: 0.5em 1em 0.5em 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#facts, #equipment{
    width: 33%;
}

#ingredients{
    width: 34%;
}
#instructions{
    width: 100%;
}

#facts{
    background-color: #83BFCA;
}

#ingredients{
    background-color: #B48AD2;
}

#instructions{
    background-color: #FFFDA2;
}

#equipment{
    background-color: #FFD0A2;
}
footer{
    background-color: black;
    color: white;
}