*{
    box-sizing: border-box;
}

@font-face {
    font-family: kaushan;
    src: url(KaushanScript-Regular.otf);
}

html, body{
    height: 100%;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

h2 {
    margin-left: 1em;
}

h3{
    padding:0.25em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 110%;
    background-color: #AEC3E3;
}

p{
    padding: 0 0.25em 0.25em 0.25em;
}

li {
    list-style-type: none;
}

li.li1 {
    padding-left: 20px;
    background-image: url('https://d1uz88p17r663j.cloudfront.net/original/Icons-54.svg');
    background-repeat: no-repeat;
}

nav{
    text-align: center;
    background-color: #79DCF1;
    font-family: kaushan;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
}

nav li{
    padding: 0.5em 1em 0.5em 1em;
}

section{
    margin: 1em;
    padding: 0;
    width: 23%;
    max-height: 500px;
    background-color: #EAEAEA;
ul{
    margin: 0;
}

header{
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

figure{
    margin: 0;
}

h1{
    background-color: #FFD0A2;
    font-family: kaushan;
    margin: 0;
    padding: 0.3em;
    border-radius: 1em; 

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#facts, #equipment{
    width: 33%;
}

#ingredients{
    width: 34%;
}
#instructions{
    width: 100%;
}

#facts{
    background-color: #C3EAF3;
}

#ingredients{
    background-color:#AAE6F2;
}

#instructions{
    background-color: #E0F0F4;
}

#equipment{
    background-color: #C3EAF3;
}

#flow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
footer{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 1em;
}

#footer-logo, #footer-design{
    width: 33%;
}

#footer-contact{
    width: 34%;
}